############################
# Frontend
############################
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/.yarn/install-state.gz
/frontend/coverage
/frontend/out/
/frontend/.DS_Store
/frontend/*.pem
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.vercel



############################
# Backend
############################
/backend/dist
/backend/build
/backend/.DS_Store
/backend/.AppleDouble
/backend/.LSOverride
/backend/Icon
/backend/.Spotlight-V100
/backend/.Trashes
/backend/._*
/backend/*~
/backend/Thumbs.db
/backend/ehthumbs.db
/backend/Desktop.ini
/backend/$RECYCLE.BIN/
/backend/*.cab
/backend/*.msi
/backend/*.msm
/backend/*.msp
/backend/*.7z
/backend/*.csv
/backend/*.dat
/backend/*.dmg
/backend/*.gz
/backend/*.iso
/backend/*.jar
/backend/*.rar
/backend/*.tar
/backend/*.zip
/backend/*.com
/backend/*.class
/backend/*.dll
/backend/*.exe
/backend/*.o
/backend/*.seed
/backend/*.so
/backend/*.swo
/backend/*.swp
/backend/*.swn
/backend/*.swm
/backend/*.out
/backend/*.pid
/backend/*#
/backend/ssl
/backend/nbproject
/backend/lib-cov
/backend/lcov.info
/backend/pids
/backend/logs
/backend/results
/backend/node_modules
coverage
